<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot;D:\home\site\wwwroot\env\Lib\site-packages" />
    <add key="WSGI_HANDLER" value="app.default_app()" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python34_via_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python34\python.exe|D:\Python34\Scripts\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>